extends base

block content
  main.main
    .password-reset-form
      h2.heading-secondary.ma-bt-lg Reset your password
      form.form
        .form__group
        .form__group.ma-bt-md
          label.form__label(for='password') New Password
          input#password.form__input(
            type='password',
            placeholder='••••••••',
            required,
            minlength='8',
            autocomplete='new-password'
          )
        .form__group
         .form__group.ma-bt-md
          label.form__label(for='password-confirm') Confirm New Password
          input#password-confirm.form__input(
            type='password',
            placeholder='••••••••',
            required,
            minlength='8',
            autocomplete='new-password'
          )
        .form__group
          button.btn.btn--green.btn--new-pass(type='submit', data-token=`${resetToken ? resetToken : ''}`) Submit
