extends base

block content
  main.main
    .signup-form
      h2.heading-secondary.ma-bt-lg Sign up for an account!
      form.form
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(
            type='email',
            placeholder='you@example.com',
            required,
            autocomplete='off'
          )
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(
            type='password',
            placeholder='••••••••',
            required,
            minlength='8',
            autocomplete='new-password'
          )
        .form__group.ma-bt-md
          label.form__label(for='password-confirm') Password Confirm
          input#password-confirm.form__input(
            type='password',
            placeholder='••••••••',
            required,
            minlength='8',
            autocomplete='new-password'
          )
        .form__group.ma-bt-md
          label.form__label(for='name') Name
          input#name.form__input(
            type='text',
            placeholder='Enter Your Name',
            required,
            autocomplete='off'
          )
        .form__group
          button.btn.btn--green Sign Up
